<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Hodíe uses your calendars to show today’s events so you can plan tasks around real commitments.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Hodíe needs calendar access to display your schedule in the Today view.</string>
</dict>
</plist>
